tests/
obj/
bin/
.idea
.vscode
bw_output
bw-output
build
.scannerwork
out.strace
*.gcov
*.gcda
*.gcno
*.o
*/target
builddir
plan
build-wrapper-linux-x86.zip
build-wrapper-linux-x86/
sonar-scanner-3.2.0.1227/
sonar-scanner-cli-3.2.0.1227.zip
env.sh
